WCFLabb1Client/WCFLabb1Client/WCFLabb1Client/Service References/NameDayReference/NameDay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DateDependingOnTheName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DateDependingOnTheNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DateDependingOnTheNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DateDependingOnTheNameSoapIn">
    <wsdl:part name="parameters" element="tns:DateDependingOnTheName" />
  </wsdl:message>
  <wsdl:message name="DateDependingOnTheNameSoapOut">
    <wsdl:part name="parameters" element="tns:DateDependingOnTheNameResponse" />
  </wsdl:message>
  <wsdl:portType name="NameDaySoap">
    <wsdl:operation name="DateDependingOnTheName">
      <wsdl:input message="tns:DateDependingOnTheNameSoapIn" />
      <wsdl:output message="tns:DateDependingOnTheNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NameDaySoap" type="tns:NameDaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DateDependingOnTheName">
      <soap:operation soapAction="http://tempuri.org/DateDependingOnTheName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NameDaySoap12" type="tns:NameDaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DateDependingOnTheName">
      <soap12:operation soapAction="http://tempuri.org/DateDependingOnTheName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NameDay">
    <wsdl:port name="NameDaySoap" binding="tns:NameDaySoap">
      <soap:address location="http://localhost:6434/NameDay.asmx" />
    </wsdl:port>
    <wsdl:port name="NameDaySoap12" binding="tns:NameDaySoap12">
      <soap12:address location="http://localhost:6434/NameDay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>