WCFLabb1Client/WCFLabb1Client/WCFLabb1Client/Service References/RazzieOfTheYearServiceReference/RazzieOfTheYear.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RazzieYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RazzieYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RazzieYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RazzieYearSoapIn">
    <wsdl:part name="parameters" element="tns:RazzieYear" />
  </wsdl:message>
  <wsdl:message name="RazzieYearSoapOut">
    <wsdl:part name="parameters" element="tns:RazzieYearResponse" />
  </wsdl:message>
  <wsdl:portType name="RazzieOfTheYearSoap">
    <wsdl:operation name="RazzieYear">
      <wsdl:input message="tns:RazzieYearSoapIn" />
      <wsdl:output message="tns:RazzieYearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RazzieOfTheYearSoap" type="tns:RazzieOfTheYearSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RazzieYear">
      <soap:operation soapAction="http://tempuri.org/RazzieYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RazzieOfTheYearSoap12" type="tns:RazzieOfTheYearSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RazzieYear">
      <soap12:operation soapAction="http://tempuri.org/RazzieYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RazzieOfTheYear">
    <wsdl:port name="RazzieOfTheYearSoap" binding="tns:RazzieOfTheYearSoap">
      <soap:address location="http://localhost:21661/RazzieOfTheYear.asmx" />
    </wsdl:port>
    <wsdl:port name="RazzieOfTheYearSoap12" binding="tns:RazzieOfTheYearSoap12">
      <soap12:address location="http://localhost:21661/RazzieOfTheYear.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>