WCFLabb1Client/WCFLabb1Client/WCFLabb1Client/Service References/MovieOfTheYearServiceReference/MovieYear.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MovieOfTheYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MovieOfTheYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MovieOfTheYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MovieOfTheYearSoapIn">
    <wsdl:part name="parameters" element="tns:MovieOfTheYear" />
  </wsdl:message>
  <wsdl:message name="MovieOfTheYearSoapOut">
    <wsdl:part name="parameters" element="tns:MovieOfTheYearResponse" />
  </wsdl:message>
  <wsdl:portType name="MovieYearSoap">
    <wsdl:operation name="MovieOfTheYear">
      <wsdl:input message="tns:MovieOfTheYearSoapIn" />
      <wsdl:output message="tns:MovieOfTheYearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MovieYearSoap" type="tns:MovieYearSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MovieOfTheYear">
      <soap:operation soapAction="http://tempuri.org/MovieOfTheYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MovieYearSoap12" type="tns:MovieYearSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MovieOfTheYear">
      <soap12:operation soapAction="http://tempuri.org/MovieOfTheYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MovieYear">
    <wsdl:port name="MovieYearSoap" binding="tns:MovieYearSoap">
      <soap:address location="http://localhost:5799/MovieYear.asmx" />
    </wsdl:port>
    <wsdl:port name="MovieYearSoap12" binding="tns:MovieYearSoap12">
      <soap12:address location="http://localhost:5799/MovieYear.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>