WCFLabb1Client/WCFLabb1Client/WCFLabb1Client/Service References/AddTwoNumbersReference/AddTwoNumbers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add2Numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="y" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add2NumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Add2NumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Add2NumbersSoapIn">
    <wsdl:part name="parameters" element="tns:Add2Numbers" />
  </wsdl:message>
  <wsdl:message name="Add2NumbersSoapOut">
    <wsdl:part name="parameters" element="tns:Add2NumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="AddTwoNumbersSoap">
    <wsdl:operation name="Add2Numbers">
      <wsdl:input message="tns:Add2NumbersSoapIn" />
      <wsdl:output message="tns:Add2NumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddTwoNumbersSoap" type="tns:AddTwoNumbersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add2Numbers">
      <soap:operation soapAction="http://tempuri.org/Add2Numbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddTwoNumbersSoap12" type="tns:AddTwoNumbersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add2Numbers">
      <soap12:operation soapAction="http://tempuri.org/Add2Numbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddTwoNumbers">
    <wsdl:port name="AddTwoNumbersSoap" binding="tns:AddTwoNumbersSoap">
      <soap:address location="http://localhost:2964/AddTwoNumbers.asmx" />
    </wsdl:port>
    <wsdl:port name="AddTwoNumbersSoap12" binding="tns:AddTwoNumbersSoap12">
      <soap12:address location="http://localhost:2964/AddTwoNumbers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>