WCFLabb1Client/WCFLabb1Client/WCFLabb1Client/Service References/Add3NumbersReference/AddThreeNumbers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add3Numbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="y" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="z" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add3NumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Add3NumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Add3NumbersSoapIn">
    <wsdl:part name="parameters" element="tns:Add3Numbers" />
  </wsdl:message>
  <wsdl:message name="Add3NumbersSoapOut">
    <wsdl:part name="parameters" element="tns:Add3NumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="AddThreeNumbersSoap">
    <wsdl:operation name="Add3Numbers">
      <wsdl:input message="tns:Add3NumbersSoapIn" />
      <wsdl:output message="tns:Add3NumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AddThreeNumbersSoap" type="tns:AddThreeNumbersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add3Numbers">
      <soap:operation soapAction="http://tempuri.org/Add3Numbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AddThreeNumbersSoap12" type="tns:AddThreeNumbersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add3Numbers">
      <soap12:operation soapAction="http://tempuri.org/Add3Numbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddThreeNumbers">
    <wsdl:port name="AddThreeNumbersSoap" binding="tns:AddThreeNumbersSoap">
      <soap:address location="http://localhost:5273/AddThreeNumbers.asmx" />
    </wsdl:port>
    <wsdl:port name="AddThreeNumbersSoap12" binding="tns:AddThreeNumbersSoap12">
      <soap12:address location="http://localhost:5273/AddThreeNumbers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>